#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    flavor = "hold-preferred";
    quick-tap-ms = <200>;
};

&mt {
    flavor = "hold-preferred";
    quick-tap-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        less_then {
            bindings = <&kp LESS_THAN>;
            key-positions = <43 44>;
            timeout-ms = <60>;
            layers = <0 1 4 5>;
        };

        greater_then {
            bindings = <&kp GREATER_THAN>;
            key-positions = <44 45>;
            timeout-ms = <60>;
            layers = <0 1 4 5>;
        };

        mac_undo {
            bindings = <&kp LG(Z)>;
            key-positions = <37 38>;
            timeout-ms = <60>;
            layers = <0>;
        };

        mac_cut {
            bindings = <&kp LG(X)>;
            key-positions = <40 38>;
            timeout-ms = <60>;
            layers = <0>;
        };

        mac_copy {
            bindings = <&kp LG(C)>;
            key-positions = <38 39>;
            timeout-ms = <60>;
            layers = <0>;
        };

        mac_paste {
            bindings = <&kp LG(V)>;
            key-positions = <40 39>;
            timeout-ms = <60>;
            layers = <0>;
        };

        win_undo {
            bindings = <&kp LC(Z)>;
            key-positions = <37 38>;
            timeout-ms = <60>;
            layers = <4>;
        };

        win_copy {
            bindings = <&kp LC(C)>;
            key-positions = <38 39>;
            timeout-ms = <60>;
            layers = <4>;
        };

        win_paste {
            bindings = <&kp LC(V)>;
            key-positions = <40 39>;
            timeout-ms = <60>;
            layers = <4>;
        };
    };

    macros {
        my_email: my_email {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp B &kp L &kp A &kp C &kp K &kp E &kp A &kp G &kp L &kp E &kp N1 &kp N0 &kp AT &kp I &kp C &kp L &kp O &kp U &kp D &kp DOT &kp C &kp O &kp M>;
            label = "MY_EMAIL";
        };
    };

    behaviors {
        hrm_l: hrm_l {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <28 27 26 25 48 49 50 18 19 20 21 22 23 30 31 32 33 34 35 42 43 44 45 46 47 51 52 0>;
            quick-tap-ms = <200>;
        };

        hrm_r: hrm_r {
            compatible = "zmk,behavior-hold-tap";
            label = "HRM_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41 48 49 50 31 32 33 34 52 51 0>;
            quick-tap-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp SPACE             &none  &none           &none          &none            &none          &none      &none          &none          &none           &none               &none
&kp TILDE             &kp Q  &kp W           &kp E          &kp R            &kp T          &kp Y      &kp U          &kp I          &kp O           &kp P               &kp PIPE
&kp LS(LA(LC(LGUI)))  &kp A  &hrm_l LCTRL S  &hrm_l LALT D  &hrm_l LGUI F    &kp G          &kp H      &hrm_r RGUI J  &hrm_r RALT K  &hrm_r RCTRL L  &hrm_r LSHIFT SEMI  &kp SQT
&kp GRAVE             &kp Z  &kp X           &kp C          &kp V            &kp B          &kp N      &kp M          &kp COMMA      &kp DOT         &kp SLASH           &kp BSLH
                                             &kp TAB        &mt LSHIFT BSPC  &lt 1 ENTER    &lt 2 ESC  &kp F16
                                                            &none            &none          &none
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        layer_1 {
            bindings = <
&trans  &none     &none     &none     &none     &none        &none      &none      &none      &none     &none      &none
&trans  &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR   &trans
&trans  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5       &kp N6     &kp N7     &kp N8     &kp N9    &kp N0     &kp DQT
&trans  &none     &kp LBKT  &kp RBKT  &kp LBRC  &kp RBRC     &kp UNDER  &kp MINUS  &kp PLUS   &trans    &kp EQUAL  &trans
                            &trans    &mo 8     &trans       &mo 3      &trans
                                      &none     &none        &none
            >;
        };

        layer_2 {
            bindings = <
&mo 8   &none   &none    &none    &none    &none       &none       &none         &none         &none             &none         &none
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &kp INS     &kp C_MUTE  &kp PG_UP     &kp PG_DN     &kp C_PLAY_PAUSE  &kp DEL       &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &kp HOME    &kp LEFT    &kp DOWN      &kp UP        &kp RIGHT         &kp C_BRI_UP  &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &kp END     &kp C_PREV  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT        &kp C_BRI_DN  &trans
                         &trans   &trans   &mo 3       &trans      &trans
                                  &none    &none       &none
            >;
        };

        layer_3 {
            bindings = <
&trans     &none  &none  &none          &none          &none     &none                 &none                 &none           &none         &none         &none
&my_email  &none  &none  &none          &none          &none     &bt BT_CLR            &bt BT_SEL 0          &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&none      &none  &none  &kp LC(PG_UP)  &kp LC(PG_DN)  &none     &none                 &none                 &none           &none         &none         &to 4
&none      &none  &none  &none          &none          &none     &kp LS(LG(NUMBER_3))  &kp LS(LG(NUMBER_4))  &kp LS(LG(N5))  &none         &none         &none
                         &trans         &trans         &trans    &trans                &trans
                                        &none          &none     &none
            >;
        };

        layer_4 {
            bindings = <
&kp SPACE             &none  &none           &none          &none            &none          &none      &none          &none          &none           &none               &none
&kp TILDE             &kp Q  &kp W           &kp E          &kp R            &kp T          &kp Y      &kp U          &kp I          &kp O           &kp P               &kp PIPE
&kp LS(LA(LC(LGUI)))  &kp A  &hrm_l LCTRL S  &hrm_l LGUI D  &hrm_l LALT F    &kp G          &kp H      &hrm_r LALT J  &hrm_r LGUI K  &hrm_r LCTRL L  &hrm_r LSHIFT SEMI  &kp SQT
&kp GRAVE             &kp Z  &kp X           &kp C          &kp V            &kp B          &kp N      &kp M          &kp COMMA      &kp DOT         &kp SLASH           &kp BSLH
                                             &kp TAB        &mt LSHIFT BSPC  &lt 5 ENTER    &lt 6 ESC  &kp RIGHT_ALT
                                                            &none            &none          &none
            >;
        };

        layer_5 {
            bindings = <
&trans  &none     &none     &none     &none     &none        &none      &none      &none      &none     &none      &none
&trans  &kp EXCL  &kp AT    &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS   &kp ASTRK  &kp LPAR  &kp RPAR   &trans
&trans  &kp N1    &kp N2    &kp N3    &kp N4    &kp N5       &kp N6     &kp N7     &kp N8     &kp N9    &kp N0     &kp DQT
&trans  &none     &kp LBKT  &kp RBKT  &kp LBRC  &kp RBRC     &kp UNDER  &kp MINUS  &kp PLUS   &trans    &kp EQUAL  &trans
                            &trans    &mo 8     &trans       &mo 7      &trans
                                      &none     &none        &none
            >;
        };

        layer_6 {
            bindings = <
&mo 8   &none   &none    &none    &none    &none       &none       &none         &none         &none             &none         &none
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &kp INS     &kp C_MUTE  &kp PG_UP     &kp PG_DN     &kp C_PLAY_PAUSE  &kp DEL       &trans
&trans  &kp F5  &kp F6   &kp F7   &kp F8   &kp HOME    &kp LEFT    &kp DOWN      &kp UP        &kp RIGHT         &kp C_BRI_UP  &trans
&trans  &kp F1  &kp F2   &kp F3   &kp F4   &kp END     &kp C_PREV  &kp C_VOL_DN  &kp C_VOL_UP  &kp C_NEXT        &kp C_BRI_DN  &trans
                         &trans   &trans   &mo 7       &trans      &trans
                                  &none    &none       &none
            >;
        };

        layer_7 {
            bindings = <
&trans     &none  &none  &none          &none          &none     &none       &none         &none         &none         &none         &none
&my_email  &none  &none  &none          &none          &none     &bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&to 0      &none  &none  &kp LC(PG_UP)  &kp LC(PG_DN)  &none     &none       &none         &none         &none         &none         &none
&none      &none  &none  &none          &none          &none     &none       &kp PSCRN     &none         &none         &none         &none
                         &trans         &trans         &trans    &trans      &trans
                                        &none          &none     &none
            >;
        };

        layer_8 {
            bindings = <
&trans  &none  &none  &none  &none   &none          &none        &none  &none  &none  &none  &none
&none   &none  &none  &none  &none   &bootloader    &bootloader  &none  &none  &none  &none  &none
&none   &none  &none  &none  &none   &none          &none        &none  &none  &none  &none  &none
&none   &none  &none  &none  &none   &none          &none        &none  &none  &none  &none  &none
                      &none  &trans  &trans         &trans       &none
                             &none   &none          &none
            >;
        };
    };
};
